@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* Custom styles can be added below */
body {
    padding: 0;
    margin: 0;
}

/* Hide scrollbar for horizontal scroll on mobile tabs */
.scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
